 <form method="POST" action='@Url.Action("Logar", "Login")' required>
        <input type="text" name="Email" placeholder="Email" required>
        <input type="text" name="Senha" placeholder="Senha" required>
        <input value="Enviar" type="submit">
</form>